:root {
    --primary-color: #FF4800;
    --secondary-color: #F2F2F4;
    --three-color: #FFFFFF;
    --for-color: #1F1F2E;
}
header{position: sticky !important;top: 0px;z-index: 10000;}
 .container header{top:32px !important;}
.nav {
	padding: 0 200px;
	background-color: #f4f3ee;
}

.navbar-brand {
    color: var(--primary-color);
}
.bg-footer {
    background-color: var(--for-color) !important;
}
.bg-danger {
    background-color: var(--primary-color) !important;
}
.bg-secon {
    background-color: var(--secondary-color) !important;
}
.collapse a:hover {
    background-color: var(--primary-color) !important;
    color: var(--three-color) !important;
    outline: none;
    border: none;
}
.pprice {
    padding-right: 250px;
}
.bgafter {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./image/ship.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-color{
    color: #FF4800 !important;
}
.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
.custom-select {
    width: 100%;
}
.form-btn button {
    width: 100%;
}
.position-absolute {
    width: 80px;
    height: 80px;
    bottom: -20px;
    right: 30px;
}
.rounded-circle {
    width: 40px;
    height: 40px;
}
.pdp p {
    padding-bottom: 20px;
    font-size: 20px;
}